@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root Elements */
:root {
    /* Background Color */
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;

    /* Text Color */
    --primary-font:"Poppins", sans-serif;
    --text-white:#fff;
    --text-black:#121212; 
    --text-danger:#f63440; 
    --text-gray:#aaa;
    --text-dark-gray:#777;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-danger);
}
:where(h1,h2,h3,h4,h5,h6,p,i,ul,li) {
    padding: 0 !important;
    margin: 0 !important;
}
a,
a:hover {
    text-decoration: none !important;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--text-black);
    font-family: var(--primary-font);
    background-color: var(--bg-white);
    overflow-x: hidden;
}
.btn-danger {
    background: var(--bg-danger) !important;
    border-color: var(--bg-danger) !important;
    padding: 0.8rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
}
.btn-danger:hover {
    color: var(--text-danger) !important;
    background: transparent !important;
}
/* Navbar CSS */
#header .fixed-top {
    box-shadow: 0 0.125rem 0.675rem rgba(0, 0, 0, 0.2);
}
#header .navbar .navbar-nav .nav-item .nav-link {
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}
#header .navbar .navbar-nav .nav-item .nav-link:hover,
#header .navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--text-danger);
}
#header .navbar-toggler {
    box-shadow: none;
    outline: none;
    border: none;
}
#header .navbar-toggler-icon {
    width: unset;
    height: unset;
}
/* Home CSS */
.home .home-banner-1,
.home .home-banner-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}
.home .home-banner-1 {
    background-image: url('../images/slide1.jpg');
}
.home .home-banner-2 {
    background-image: url('../images/slide2.jpg');
}
.home .home-banner .home-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
}
.home .home-banner .home-banner-text h1 {
    font-size: 6rem;
}
.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
   background: transparent;
}
.home .slide-icon {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-danger);
}
/* Offer CSS */
.offers {
    padding-top: 8.75rem;
}
.offers .offer-box .offer-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    width: 50%;
    display: block;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    transform: skewX(-25deg);
}
.offers .offer-box .offer-image img {
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offers .offer-box:hover .offer-image::before {
    animation: effect_shine 1s;
}
@keyframes effect_shine {
    100% {
        left: 150%;
    }
}
.offers .offer-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.offers .offer-box .offer-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
}
.offers .offer-box .offer-info .headline-bigger {
    font-size: 4.375rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-white);
}
.offers .offer-box .offer-info .offer-title-1 {
    color: var(--text-white);
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.offers .offer-box .offer-info .btn-outline-danger {
    color: var(--text-white);
    border-color: var(--bg-white);
    transition: all 0.3s ease-in-out;
}
.offers .offer-box .offer-info .btn-outline-danger:hover {
    border-color: var(--bg-danger);
    background-color: var(--bg-danger);
}
/* Products CSS */
.products {
    padding-top: 8.75rem;
}
.headline h2::before {
    content: '';
    width: 30%;
    height: 0.125rem;
    background-color: var(--bg-danger);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 0.625rem;
}
.products a {
    color: var(--text-black);
}
.product-list .product-image img {
    transition: all 500ms ease-in-out;
}
.product-list .product-image .product-image-second {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.product-list .product-image:hover .product-image-second {
    opacity: 1;
}
.product-list .product-image .sale {
    background-color: var(--bg-danger);
    border-radius: 0.313rem;
    color: var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 1.188rem;
    z-index: 99;
}
.product-list .product-name h3 {
    font-size: 1.125rem;
    color: var(--text-black);
    transition: all 0.3s ease 0s;
}
.product-list .product-name h3:hover {
    color: var(--text-danger);
}
.product-list .product-name .amount {
    color: var(--bg-danger);
    font-weight: 500;
}
.product-list .product-name .amount del {
    color: var(--text-gray);
}
.product-list .product-name .fa-star {
    color: var(--text-gray);
}
.product-list .product-name .fa-star.active {
    color: var(--bg-danger);
}
.product-list .product-name .add_to_cart {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.product-list .product-name .add_to_cart:hover {
    color: var(--text-danger);
}
.products .up_to_off {
    position: relative;
}
.products .up_to_off::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}
.products .up_to_off img {
    transition: 0.5s;
}
.products .up_to_off:hover img {
    transform: scale(1.1);
}
.products .up_to_content h2 {
    color: var(--text-white);
    font-size: 1.625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}